.footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: rgb(192, 45, 26);
  color: #fff;
}

.icon {
  border-radius: 100%;
  transition: 200ms all;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}
